@font-face {
	font-family: Barlow;
	font-display: swap;
	src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MazzardH;
	font-display: swap;
	src: url("../fonts/MazzardH-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Barlow;
	font-display: swap;
	src: url("../fonts/Barlow-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Barlow;
	font-display: swap;
	src: url("../fonts/Barlow-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MazzardM;
	font-display: swap;
	src: url("../fonts/MazzardM-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MazzardM;
	font-display: swap;
	src: url("../fonts/MazzardM-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswald-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: MazzardM;
	font-display: swap;
	src: url("../fonts/MazzardM-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MazzardM;
	font-display: swap;
	src: url("../fonts/MazzardM-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
